<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="stylesheets" type="text/css" href="estilos.css">
<header>
	<nav class="navbar navbar-inverse">
	    <div class="container-fluid">
	        <div class="navbar-header">
	            <a class="navbar-brand" href="/"><mark>Terreno con un Auto</mark></a>
	        </div>
	        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
	            <ul class="nav navbar-nav navbar-right">
	                <li>
	                    <h1 style='color:white'>Terreno</h1>
	                </li>
	            </ul>
	        </div>
	    </div>
	</nav>
</header>
<body>
	<center>
		<div class="jumbotron">
	
		<br/>
	        <% for i in 0..$tamY-1 do %>
                <% for j in 0..$tamX-1 do %>
                    <b>
						<% for index in 0..$terreno.getAutos().length-1 do %>
							<% if ((i == $terreno.getAuto(index).gety()) && (j==$terreno.getAuto(index).getx())) %>       
								1
								<% else %> 
								0
							<% end %>
						<% end %>
                    </b>
                <% end %>
                <br/>
            <% end %>
		</div>
		<!--<div class="jumbotron">
			<h3>Posicion actual del carro: </h3>
			<br/>
			<%= $posicionAuto %>
		</div>
		<br/>
		<form method="post" action="/moveCar">
			<input type='text' name='movement' id='movement' placeholder='Ingrese Los movimientos del auto con mayusculas' class="form-control" >              
			<input type="submit" value="mover">
        </form>-->
	</center>
</body>
