<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="stylesheets" type="text/css" href="estilos.css">
<header>
	<nav class="navbar navbar-inverse">
	    <div class="container-fluid">
	        <div class="navbar-header">
	            <a class="navbar-brand" href="/"><mark>TU AUTO</mark></a>
	        </div>
	        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
	            <ul class="nav navbar-nav navbar-right">
	                <li>
	                    <h1 style='color:white'>CONTROLA TU PROPIO ROBOT</h1>
	                </li>
	            </ul>
	        </div>
	    </div>
	</nav>
</header>
<body>
	<center>
		<div class="jumbotron">
	        <form method="post" action="/autoTerreno/<%=$tamX%>/<%=$tamY%>">
				<input type='text' name='posX' placeholder='Ingrese posicon en X'/>
				<br/>
				<input type='text' name='posY' placeholder='Ingrese posicion en Y'/>
				<br/>
                <select class="form-control" name="direccion" id="direccion">
                    <option value="N">Norte</option>
                    <option value="S">Sud</option>
                    <option value="E">Este</option>
                    <option value="W">Oeste</option>
                </select>
				<br/>
		    	<button type="submit"  class="btn btn-success" name="Generar Auto">Generar Auto</button>
			</form>
        </div>	
	</center>
</body>
