Saludador
<form methot= 'post' action='/'>
    <input type='text' name='posXAuto1'/>
    <input type='text' name='posYAuto1'/>
    <input type='text' name='direccionAuto1'/>
    <input type='submit' value='Saludar'/>
</form>