<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="stylesheets" type="text/css" href="estilos.css">
<header>
	<nav class="navbar navbar-inverse">
	    <div class="container-fluid">
	        <div class="navbar-header">
	            <a class="navbar-brand" href="/"><mark>Terreno</mark></a>
	        </div>
	        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
	            <ul class="nav navbar-nav navbar-right">
	                <li>
	                    <h1 style='color:white'>Tu Terreno</h1>
	                </li>
	            </ul>
	        </div>
	    </div>
	</nav>
</header>
<body>
	<center>
		<div class="jumbotron">
	        <% for i in 0..$tamY-1 do %>
                <% for j in 0..$tamX-1 do %>
                    <b>
                    	0
                    </b>
                <% end %>
                <br/>
            <% end %>
        </div>	
		
	</center>
    <br/>

    <center>
		<form method="post" action="/autoTerreno">
			<% if $cantAutosAux>=1%>  
				<input class="form-control" type='text' name='posXAuto1' id='posXAuto1' placeholder='Ingrese posicion en X de auto 1'/>
					<br/>
				<input class="form-control" type='text' name='posYAuto1' id='posYAuto1' placeholder='Ingrese posicion en Y de auto 1'/>
				<br/>
				<select class="form-control" name="direccionAuto1" id="direccionAuto1">
					<option value="N">Norte</option>
					<option value="S">Sud</option>
					<option value="E">Este</option>
					<option value="W">Oeste</option>
				</select>
				<br>
			<% end %>
			<% if  $cantAutosAux>=2%>  
				<input type='text'  name='posXAuto2' id='posXAuto2'placeholder='Ingrese posicion en X de auto 2'/>
					<br/>
					<input type='text'  name='posYAuto2' id='posYAuto2'placeholder='Ingrese posicion en Y de auto 2'/>
					<br/>
					<select class="form-control" name="direccionAuto2" id="direccionAuto2">
						<option value="N">Norte</option>
						<option value="S">Sud</option>
						<option value="E">Este</option>
						<option value="W">Oeste</option>
					</select>
				<br>
			<% end %>
			<% if  $cantAutosAux>=3%>  
				<input type='text'  name='posXAuto3' id='posXAuto3'placeholder='Ingrese posicion en X de auto 3'/>
					<br/>
					<input type='text'  name='posYAuto3' id='posYAuto3'placeholder='Ingrese posicion en Y de auto 3'/>
					<br/>
					<select class="form-control" name="direccionAuto3" id="direccionAuto3">
						<option value="N">Norte</option>
						<option value="S">Sud</option>
						<option value="E">Este</option>
						<option value="W">Oeste</option>
					</select>
				<br>
			<% end %>
			<% if  $cantAutosAux>=4%>  
				<input type='text'  name='posXAuto4' id='posXAuto4'placeholder='Ingrese posicion en X de auto 4'/>
					<br/>
					<input type='text'  name='posYAuto4' id='posYAuto4'placeholder='Ingrese posicion en Y de auto 4'/>
					<br/>
					<select class="form-control" name="direccionAuto4" id="direccionAuto4">
						<option value="N">Norte</option>
						<option value="S">Sud</option>
						<option value="E">Este</option>
						<option value="W">Oeste</option>
					</select>
				<br>
			<% end %>
			<% if  $cantAutosAux>=5%>  
				<input type='text'  name='posXAuto5' id='posXAuto5'placeholder='Ingrese posicion en X de auto 5'/>
					<br/>
					<input type='text'  name='posYAuto5' id='posYAuto5'placeholder='Ingrese posicion en Y de auto 5'/>
					<br/>
					<select class="form-control" name="direccionAuto5" id="direccionAuto5">
						<option value="N">Norte</option>
						<option value="S">Sud</option>
						<option value="E">Este</option>
						<option value="W">Oeste</option>
					</select>
				<br>
			<% end %>
			<button type="submit"  class="btn btn-success" name="Generar Autos">Generar Autos</button>
		</form>
    </center>
</body>
